
 .card {
  background: rgb(173, 233, 191);
  border-radius: 2px;
  height: 250px;
  width: 250px;
  margin: 1rem;
  position: relative;
  box-shadow: 0 3px 6px rgb(31, 228, 202), 0 3px 6px rgb(107, 223, 194);
  display: inline-block;
  text-align: left;
}

.card > .img-container {
  height: 100%;
  overflow: hidden;
  text-align: center;
  background:rgb(166, 238, 220);
}
.card > .img-container > img {
  width: 60%
}

